/TDDBC_VendorMachine/ShinsukeAbe/products/VendingMachine/nbproject/private/
/TDDBC_VendorMachine/ShinsukeAbe/products/VendingMachine/build/

.DS_Store

*.bak
bin
bin/**/*
obj
obj/**/*
test-results
test-results/**/*
*.userprefs
